<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded File</title>
    <style>
        body {
            background-color: white;
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
        
        .container {
            width: 70%;
            height: 20vh;
            margin: 10rem auto;
            font-size: 1rem;
        }
    </style>
</head>

<body>
</body>
<div class="container done__container">
    <video src="../public/videos/done.mp4" class="done__video" loop autoplay></video>
</div>

</html>